<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'shared/navbar' if current_user %>
  <div class="container"><%= yield %></div>
     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    
    <%= render 'shared/footer'%>
    <script type="text/javascript">
 toastr.success("hoa")
    </script>

  </body>
</html>
